/* src/pages/Login.module.css */

.loginPage {
  background-color: #f2f4f5;  /* 다크모드 배경 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.loginContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  width: 30rem;
  height: 10rem;          /* 정사각형 영역 */
  background-color: #f2f4f5; /* 객체 색상 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border:1px#000000;
}
